<div class="center-container">

    <h1>Field:  Computational Fluid Dynamics (CFD) und Fluid- and Structural Interaction (FSI)   </h1>
    <h2>FlowThermoLab under Dr Sandeep Mouvanal und Dr.Chennakesava Kadapa. </h2>  
    <h3>  •	Fluid-structure interaction on a rigid body with Open Foam and 6DOF solver. <br>
    •	Partitioned coupling of fluid and solid dynamics.<br>
    •	Conducting a literature study on coupling techniques and implicit methods of two-way simulation.<br>
    •	Implementation of a methodology to improve the calculation time.</h3>
    <h1>Field:  Computational Fluid Dynamics (CFD) und Machine Learning (ML)</h1>
    <h2>Otto von Guericke Universität, Magdeburg, Deutschland</h2>
    <h3>    •	Research into alternative fuel concepts for combustion and reduction of simulation costs. <br>
            •	Investigation of combustion flames to optimize the performance of CFD simulations by Cantera.<br>
            •	Participation in data generation, development of machine learning models and interpretating the<br> model with the help of python.</h3>
  <h1>Field: Software Testing</h1> 
  <h2>Indus Digi Tech, Hyderabad, India</h2>
  <h3> •	Involved in functional testing, re-testing, regression testing and end-to-end testing:<br> Performed GUI testing and database testing.<br>
    •	Identified automation test scenarios and analyzed the manual test cases for the feasibility<br> of automation in the regression phase.<br>
    •	Implementation of the required reusable actions, repositories, environment variables, <br>test data and functions required for the functionality of the automation scripts functionality.</h3>

    <h1>  Field: Construction of water pipelines</h1>
    <h2>MEIL Megha Engineering Infra structure Ltd, India</h2>
  <h3>    •	Assisted the lead process engineers in commissioning the pipeline you built. <br>
          •	Improved efficiency by 20% by monitoring process performance and examining process flow diagrams (PFD).<br>
          •	Created and adhered to process procedures to ensure compliance with industry regulations.</h3>
</div>