.example-spacer {
    flex: 1 1 auto;
  }

  .address-details a {
    font-size: 15px;
    text-decoration: none;
    color: white; /* Adjust the color as needed */
    justify-content: center;
  }

  .address-details {
    font-size: 18px;
    text-decoration: none;
    color: white; /* Adjust the color as needed */
    justify-content: center;
  }

  .address-icon svg {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .github-icon {
    padding: 2px;
    font-size: 48px; /* Adjust the size as needed */
    cursor: pointer;
    color: blue; /* Adjust the color as needed */
  }
  
  .linkedin-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    fill: blue;
  }
  
  .gmail-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .contact-container {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
  }
  
  .contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust the spacing between sets of icon and details */
  }
  
  .phone-icon svg,
  .mail-icon svg {
    width: 30px;
    height: 30px;
    fill: #4285f4; /* Adjust the color as needed */
    margin-right: 10px; /* Adjust the spacing between icon and details */
  }
  
  .contact-details {
    font-size: 15px; /* Adjust the font size as needed */
    line-height: 1.5;
    padding: 10px;
  }
  